
Skip to content
This repository

    Pull requests
    Issues
    Gist

    @Superkazuya

2
0

    1

cyang8954/zimcher2015
Code
Issues 0
Pull requests 1
Wiki
Pulse
Graphs
zimcher2015/.gitignore
0a1c7b0 7 days ago
Weiyu Huang go fuck yourself apple
0 contributors
34 lines (31 sloc) 645 Bytes
# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.DS_Store

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

    Status API Training Shop Blog About Pricing 

    © 2015 GitHub, Inc. Terms Privacy Security Contact Help 

